*{
    padding: 0;
    margin: 0;
}
body{
    margin: auto 70px;
}
.who-we{
    width: 49%;
    display: inline-block;
    text-align: center;
}
img{
    width: 100%;
}
.pragraf{
    margin-top: 20px;
}
.c{
    margin-left: 20px;
}
.icone{
    width: 40px;
    height: 30;
}