*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
   
}
.nav-logo{
     margin: auto 110px;
    display: flex;
    margin-top: 20px;
    background-color: red;
    justify-content: space-between;
}
.nav-item ul li{
    list-style: none;
  
    width: 100%;
 
}
.nav-item ul li a{
     text-decoration: none; 
     color: black;
     padding: 20px;
     transition: 0.5;
}
.nav-item ul li a:hover{
    border-bottom: 2px solid red;
}
.nav-item ul {
          display: flex;
    justify-content: space-between;
   
}
.nav-logo h1{
    font-weight: bold;
    font-size: 30px;
}
.home-actiev{
    border-bottom: 2px solid red;
    font-weight: bold;
}
