*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    margin: auto 110px;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}
.nav-item ul li{
    list-style: none;
  
    width: 100%;
 
}
.nav-item ul li a{
     text-decoration: none; 
     color: black;
     padding: 20px;
}
.nav-item ul {
          display: flex;
    justify-content: space-between;
   
}
.nav-logo h1{
    font-weight: bold;
    font-size: 30px;
}
.home-actiev{
    border-bottom: 2px solid red;
    font-weight: bold;

}
.nav-item ul li a:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 0;
    height: 2px;
    background-color: #c3a368;
    transition: opacity 0.3s ease, width 0.3s ease;
    -ms-transition: opacity 0.3s ease, width 0.3s ease;
  }
  header nav a:hover span:after {
    width: 100%;
  }
  