*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin: auto 50px;
}
.bg-img{
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.header-nav{
    display: inline-block;
    width: 49%;
    color: white;
}
.pt{
    padding-top: 25px;
}
.logo-nav h2{
    color: #ff305b;
    font-weight: bold;
    cursor: pointer;
    transition: 1.5s;
}
.logo-nav h2:hover{
    text-decoration: underline;
}
.header-nav ul li