.test{
    height: 600px;
    width: 500px;
    background-color: teal;
    position: relative;
}
img{
    width: 100%;
}
.text{
    position: absolute;
    top: 0;
    left: -300;
    right: 200;
    background-color: tan;
}