*{
    margin:0;
    padding: 0;
}
.bg-img{
    background-image: url(img/slider-02.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
}
.home-contact{
    display: flex;
    align-items: center;
    color: w;
    justify-content: center;
}