*{
    margin:0;
    padding: 0;
}
.bg-img{
    background-image: url(img/slider-02.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
}
.home-contact{


    color: white;

}
.layer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.name::after{
    content: "Walid";
    animation-name: as;
}
@keyframes as{
    0%{content: "";}
}